.nav {
    grid-area: n;
    background: #2198c0;
    text-align: left;
    font-size: 20px;
    max-height: 100%;


}

.item  {
    margin: 10px 50px;
}

.item a {
    text-decoration: none;
    color: white;
}

.item a.active {
    color: black;
}

.item a:hover {
    color: black;
}
