.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    font-size: 20px;
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog {
    margin-bottom: 10px;
}

.dialog a {
    color: black;
    text-decoration: none;
}

.dialog a:hover {
    color: gold;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.message {

}